@use "./variables" as variables;

.newsletter {
  margin: 0 auto;
  max-width: variables.$max-width;
  padding-top: variables.$main-padding-top;
  &__heading {
    margin: 1rem 0;
    color: variables.$color-primary;
    text-align: center;
  }
  &__text {
    text-align: center;
  }
  &__form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 60ch;
    margin-left: auto;
    margin-right: auto;
    &__label {
      width: inherit;
      border: 0.1rem solid variables.$color-primary;
      border-radius: 0.7rem;
    }
    &__input {
      display: block;
      background-color: transparent;
      width: 100%;
      border: none;
      padding: 0.3rem 7.4rem 0.3rem 0.6rem;
    }
    &__btn {
      margin-left: -7.24rem;
    }
  }
}

@media (max-width: variables.$breakpoint-sm) {
  .newsletter {
    &__form {
      width: 95%;
    }
  }
}
