@use "./variables" as variables;

.notFound {
  margin: 0 auto;
  max-width: variables.$max-width;
  padding-top: variables.$main-padding-top * 3;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  &__text {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
  }
  &__logo {
    fill: variables.$color-primary;
    margin: 0 auto;
  }
  &__btn {
    align-self: center;
  }
}
