$color-primary: #606c38;
$color-primary-dark: #283618;
$color-primary-light: #fefae0;
$color-secondary: #bc6c25;
$color-secondary-light: #dda15e;
$color-secondary-dark: #44270d;
// font size variables
$fnt-size-900: 6rem;
$fnt-size-800: 4rem;
$fnt-size-700: 2rem;
$fnt-size-600: 1.5rem;
$fnt-size-500: 1.25rem;
$fnt-size-400: 1rem;
$fnt-size-300: 0.75rem;
// media queries breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
//width/height
$max-width: 1200px;
//main padding-top
$main-padding-top: 5rem;
